.card-div {
    background-color: white;
    border: 2px solid #CA974B;
    border-radius: 20px;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}

.card-div:hover {
    transform: scale(1.1);
}

.links {
    text-decoration: none;
    color: darkgoldenrod;
}